
/* ================================================================== Layer   =========================================================================== */

/* ================================================================== Layer End  ======================================================================== */
/* ================================================================== SideTree  ========================================================================= */
/** 侧导航搜索框样式 */
.layui-nav-titlebox {
	position: relative;
	margin: 15px 10px;
	line-height: 30px;
	height: 30px;
	width: 200px;
	background-color: #5D5F65;
	border-radius: 15px;
	overflow: hidden;
}
.layui-nav-titlebox .nav-tree-add {
	height: 30px;
	line-height: 30px;
	color: #ccc;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
}
.layui-nav-titlebox .open-search-btn {
	position: absolute;
	right: 5px;
	top: 0;
	z-index: 2;
	color: #ccc;
	cursor: pointer;
}
.layui-nav-tree-toolbar-searchbox {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 30px;
	line-height: 30px;
	border-radius: 15px;
	background: #5D5F65;
	overflow: hidden;
	z-index: 4;
}
.layui-nav-tree-toolbar-searchbox input {
	height: 30px;
	line-height: 30px;
	background-color: transparent;
	border: none;
	color: #AAAAAA;
}
.layui-nav-tree-toolbar-searchbox span {
	position: absolute;
	right: 5px;
	top: 0;
	color: #ccc;
	cursor: pointer;
	z-index: 5;
}
.layui-nav-tree-toolbar-searchbox .search-btn {
	right: 25px;
	background: none;
}
/** 侧导航搜索框样式结束 */

.layui-nav-tree-toolbar-btn:hover {
	color: #4785e6;
}

.layui-nav-tree-toolbar-searchbox span:hover {
	color: #4785e6;
}
.itemds .diybtn {
	display: none;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	margin-right: 0;
	right: 5px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.itemds:hover .diybtn {
	display: block;
}
/* ================================================================== SideTree End  ===================================================================== */
.unread-message-num {
	left: 30px;
	top: 8px !important;
	margin: 0 !important;
	border-radius: 9px;
	padding: 0 3px;
	min-width: 14px;
}





/* ================================================================== ********** ======================================================================== */
